title{
    color: green;
}

.p1{
    font-size: 1.1em;
}

h2{
    color: gold;
}

h3{
    color: darkred;
}

.odd{
    color: darkmagenta;
}

.even{
    color: yellowgreen
}

.d1{
    background-color: black;   
    width: 60%;
    height: 500px;
}

.arijit-2{
    width: 50%;
}

.d2{
    background-color: black;   
    width: 60%;
    height: 500px;
}

.arijit-3{
    width: 50vw;
    height: 40vh;
}
